* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4e6f8;
    font-family: Georgia, serif;
    color: #3C1362;
}

table {
    padding: 5px;
    border-collapse: collapse;
}

tr {
    margin: 10px;
}

td {
    padding: 2px;
}

::selection {
    background: azure;
    color: blue;
}

#capture {
    font-weight: bold;
}

#head {
    font-family: Georgia, serif;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 14pt;
    background: rgb(224, 174, 238);
    background: radial-gradient(circle, rgba(224, 174, 238, 1) 53%, rgba(123, 125, 226, 1) 100%);
}

#head td {
    width: 33.3%;
    padding: 5px;
}

#head td:hover {
    color: #FFE53F;
    transition-duration: 0.5s;
    transform: rotateX(360deg);
}

#form {
    margin: 10px auto;
    text-align: center;
}

#form .capture {
    font-weight: bold;
    padding: 15px 0;

}
#form .image {
    width: 40%;
}

#form, #result {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

#form td {
    padding: 5px;
}

#form label {
    margin: 1%;
}

#form input {
    width: 100%;
    transition-duration: 0.4s;
    margin: 0 1%;
}

input[type=text] {
    border-radius: 2px;
    padding: 1%;
    font-size: 16px;
    outline: none;
    border: 1px solid darkgrey;
    margin: 1%;
}

input[type=text]:focus {
    border: 1px solid navy;
}

input[type=submit] {
    width: 100%;
    font-weight: bold;
    outline: none;
    border: 2px solid transparent;
    background: darkviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 1% auto;
}

input[type=submit]:hover {
    background: white;
    border: 2px solid darkviolet;
    color: darkviolet;
}

#form input[type=checkbox] {
    width: auto;
}

#form input[type=button] {
    background: white;
    border: 1px solid lightslategray;
    border-radius: 4px;
    padding: 4px 2px;
    font-family: Georgia, serif;
    font-size: 12pt;
    outline: none;
}

#form input[type=button]:hover {
    border-color: darkviolet;
}

#form input[type=button].active {
    border-color: darkviolet;
    color: darkviolet;
    font-weight: bold;
}

#text {
    margin: auto;
    padding: 0;
    font-size: 14pt;
    text-align: center;
}

#result {
    font-size: 14pt;
    border-collapse: collapse;
}

#result td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid darkviolet;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0 10px 10px;
    max-width: 100%;
    height: auto;
    width: auto;
}