* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4e6f8;
    font-family: Georgia, serif;
}

div.container {
    width: 100%;
    color: #3C1362;
}

table {
    padding: 5px;
}

tr {
    margin: 10px;
}

td {
    padding: 2px;
}

::selection {
    background: azure;
    color: blue;
}

#capture {
    font-weight: bold;
}

#head {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 14pt;
    background: rgb(224, 174, 238);
    background: radial-gradient(circle, rgba(224, 174, 238, 1) 53%, rgba(123, 125, 226, 1) 100%);
}

#head td {
    width: 33.3%;
}

#head td:hover {
    color: #FFE53F;
    transition-duration: 0.5s;
    transform: rotateX(360deg);
}

#form, #result {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

#form td {
    padding: 20px;
}

#form label {
    margin: 1%;
}

#form input {
    width: 100%;
    transition-duration: 0.4s;
}

form {
    margin: 10px auto;
}

input[type=text] {
    padding: 1px;
    font-size: 16px;
    outline: none;
    border: 1px solid darkgrey;
    margin: 1% auto;
}

input[type=text]:focus {
    border: 1px solid navy;
}

input[type=submit], button {
    outline: none;
    border: 2px solid transparent;
    background: darkviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px auto;
}

input[type=submit]:hover {
    background: white;
    border: 2px solid darkviolet;
    color: darkviolet;
}

#text {
    padding: 5px;
    font-size: 14pt;
    text-align: center;
}

#result {
    border-collapse: collapse;
}

#result td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid darkviolet;
}